
MyfirstPackage/MyBrain/bin/Debug/MyBrain.exe
MyfirstPackage/MyBrain/bin/Debug/MyBrain.pdb
MyfirstPackage/MyBrain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyfirstPackage/MyBrain/obj/Debug/MyBrain.csproj.CoreCompileInputs.cache
MyfirstPackage/MyBrain/obj/Debug/MyBrain.csproj.FileListAbsolute.txt
MyfirstPackage/MyBrain/obj/Debug/MyBrain.csprojAssemblyReference.cache
MyfirstPackage/MyBrain/obj/Debug/MyBrain.exe
MyfirstPackage/MyBrain/obj/Debug/MyBrain.pdb
MyfirstPackage/MyfirstPackage/bin/Debug/Constellation.Common.dll
MyfirstPackage/MyfirstPackage/bin/Debug/Constellation.Common.xml
MyfirstPackage/MyfirstPackage/bin/Debug/Microsoft.AspNet.SignalR.Client.dll
MyfirstPackage/MyfirstPackage/bin/Debug/Microsoft.AspNet.SignalR.Client.xml
MyfirstPackage/MyfirstPackage/bin/Debug/MyfirstPackage.exe
MyfirstPackage/MyfirstPackage/bin/Debug/MyfirstPackage.exe.config
MyfirstPackage/MyfirstPackage/bin/Debug/MyfirstPackage.pdb
MyfirstPackage/MyfirstPackage/bin/Debug/MyfirstPackage.XML
MyfirstPackage/MyfirstPackage/bin/Debug/Newtonsoft.Json.dll
MyfirstPackage/MyfirstPackage/bin/Debug/Newtonsoft.Json.xml
MyfirstPackage/MyfirstPackage/bin/Debug/PackageInfo.xml
MyfirstPackage/MyfirstPackage/MyfirstPackage.csproj.user
MyfirstPackage/MyfirstPackage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyfirstPackage/MyfirstPackage/obj/Debug/MyfirstPackage.csproj.CoreCompileInputs.cache
MyfirstPackage/MyfirstPackage/obj/Debug/MyfirstPackage.csproj.FileListAbsolute.txt
MyfirstPackage/MyfirstPackage/obj/Debug/MyfirstPackage.csprojAssemblyReference.cache
MyfirstPackage/MyfirstPackage/obj/Debug/MyfirstPackage.exe
MyfirstPackage/.vs/config/applicationhost.config
MyfirstPackage/.vs/MyfirstPackage/v15/.suo
MyfirstPackage/.vs/MyfirstPackage/v15/Server/sqlite3/db.lock
MyfirstPackage/.vs/MyfirstPackage/v15/Server/sqlite3/storage.ide
MyfirstPackage/.vs/MyfirstPackage/v15/Server/sqlite3/storage.ide-shm
MyfirstPackage/.vs/MyfirstPackage/v15/Server/sqlite3/storage.ide-wal
MyfirstPackage/MyBrain/bin/Debug/MyBrain.exe
MyfirstPackage/MyBrain/bin/Debug/MyBrain.pdb
MyfirstPackage/MyBrain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyfirstPackage/MyBrain/obj/Debug/MyBrain.csproj.CoreCompileInputs.cache
MyfirstPackage/MyBrain/obj/Debug/MyBrain.csproj.FileListAbsolute.txt
MyfirstPackage/MyBrain/obj/Debug/MyBrain.exe
MyfirstPackage/MyBrain/obj/Debug/MyBrain.pdb
MyfirstPackage/MyfirstPackage/MyfirstPackage.csproj.user
MyfirstPackage/MyfirstPackage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyfirstPackage/MyfirstPackage/obj/Debug/MyfirstPackage.csproj.CoreCompileInputs.cache
MyfirstPackage/MyfirstPackage/obj/Debug/MyfirstPackage.pdb
MyfirstPackage/.vs/MyfirstPackage/v15/.suo
MyfirstPackage/MyBrain/bin/Debug/MyBrain.exe
MyfirstPackage/MyBrain/bin/Debug/MyBrain.pdb
MyfirstPackage/MyBrain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyfirstPackage/MyBrain/obj/Debug/MyBrain.csproj.CoreCompileInputs.cache
MyfirstPackage/MyBrain/obj/Debug/MyBrain.csproj.FileListAbsolute.txt
MyfirstPackage/MyBrain/obj/Debug/MyBrain.exe
MyfirstPackage/MyBrain/obj/Debug/MyBrain.pdb
MyfirstPackage/MyfirstPackage/MyfirstPackage.csproj.user
MyfirstPackage/MyfirstPackage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyfirstPackage/MyfirstPackage/obj/Debug/MyfirstPackage.csproj.CoreCompileInputs.cache
MyfirstPackage/.vs/MyfirstPackage/v15/.suo
MyfirstPackage/MyBrain/bin/Debug/MyBrain.exe
MyfirstPackage/MyBrain/bin/Debug/MyBrain.pdb
MyfirstPackage/MyBrain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyfirstPackage/MyBrain/obj/Debug/MyBrain.csproj.CoreCompileInputs.cache
MyfirstPackage/MyBrain/obj/Debug/MyBrain.csproj.FileListAbsolute.txt
MyfirstPackage/MyBrain/obj/Debug/MyBrain.exe
MyfirstPackage/MyBrain/obj/Debug/MyBrain.pdb
MyfirstPackage/MyfirstPackage/MyfirstPackage.csproj.user
MyfirstPackage/MyfirstPackage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyfirstPackage/MyfirstPackage/obj/Debug/MyfirstPackage.csproj.CoreCompileInputs.cache
